.sun {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.loupe {
    position: absolute;
    display: block;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .loupe {
        margin-left: 50px;
    }
}

.cloudy {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}